<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402094102155-bdeqi3eo340q8qn2g65pjafg04kfuohq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402094102155-bdeqi3eo340q8qn2g65pjafg04kfuohq</string>
	<key>API_KEY</key>
	<string>AIzaSyBq5hzxRcCWwR367ekX3ufeVvdnqnlH3aM</string>
	<key>GCM_SENDER_ID</key>
	<string>402094102155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oharayu.rewardTodo1</string>
	<key>PROJECT_ID</key>
	<string>reward-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>reward-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:402094102155:ios:538d5301ccf290200d668e</string>
</dict>
</plist>
